

*{
scroll-behavior: smooth;

}

nav{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 display: flex; 
 justify-content:space-between;

}

a{


   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
   text-decoration: none;
   color: darkred;
  }
nav> a:hover{

 color: rgb(74, 87, 61);

 }

  

.imagen-p {
   width: 40%;
   height: auto;
   border-radius: 17px;
   

}















   footer{

     background-color: darkred;
     color: white; 
     display: flex;
     gap: inherit;
     justify-content:space-between;

     }