
/*Portada*/
*{
scroll-behavior: smooth;



}
h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 45px;

}
p{ 
  padding:auto;
  gap: auto;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
 align-items: self-start;
 color:darkred;
 display: flex;
 justify-content:left;

}
nav{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 display: flex; 
 justify-content:space-between;

}

a{


   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
   text-decoration: none;
   color: darkred;
  }
nav> a:hover{

 color: rgb(74, 87, 61);

 }
img{
width:100%;
height: auto;
vertical-align: middle;}

#fotos{
  display: flex;
  flex-direction: column;
gap: 40px;

}
#fotos > .pro-row{
  display: flex;
  gap: 20px;
}
#fotos>.pro-row>.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#fotos>.pro-row>.small-col{
 width: 55%;

}
#fotos>.pro-row>.big-col{
 width: 65%;
 
}


 .big-col:hover{
  transform: scale(0.9);
  filter: brightness(0.9);
  opacity: 80%;
  transition: 0.5s

 }
 .small-col:hover{
  transform: scale(0.9);
  filter: brightness(0.9);
  opacity: 80%;
 transition: 0.5s;
 }


  footer{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkred;
    color: aliceblue;
    display: flex;
    justify-items: end;
    justify-content:  space-between;
    padding:0.5%;
    
    
 
}

/*MENU.HTML*/

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  color: darkred;
}



 .flex-cont-wrap{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

}
.flex-cont-wrap>div{
    width: 10%;
    height: 10%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 10%;
}
.flex-cont-wrap>div > a:hover{

color: rgb(74, 87, 61);
transition: 0.5s;
}


.menu-container{
display:flex;
justify-content:space-evenly;
width:100%;
margin:auto;
gap:40px;
flex-wrap: wrap; 
}

.menu-item{
flex:1 1 250px;
text-align:center;
}







.menu-item img{
width:100%;
height:400px; 
object-fit:cover;
border-radius:30px;
transition:0.9s;
}

.menu-item img:hover{
filter:grayscale(100%);
}



/*Fauna gallery*/
#fauna {
    padding: 20px  80px ;
}

#faunag{
padding: 20px 80px  ;
}

#faunag > ul{
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 12px;
}


#faunag > ul > li{
height: 25vh;
flex-grow: 1;
}
#faunag > ul > li > img{
max-height: 100%;
min-width: 100%;
object-fit: cover;

}

#faunag > ul > li > img:hover{
transform: scale(2.00);
box-shadow: (10px 50px);
transition: 0.8s;

}









/*Model gallery*/
#model {
    padding: 20px  80px ;
}

#gmodel{
padding: 20px 80px  ;
}

#gmodel > ul{
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 12px;
}


#gmodel > ul > li{
height: 25vh;
flex-grow: 1;
}
#gmodel > ul > li > img{
max-height: 100%;
min-width: 100%;
object-fit: cover;
border-radius: 5px;

}

#gmodel > ul > li > img:hover{
transform: scale(2.00);
box-shadow: (10px 50px);
transition: 0.8s;

}






/*Street gallery*/
#street {
    padding: 20px  80px ;
}

#gstreet{
padding: 20px 80px  ;
}

#gstreet > ul{
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 12px;
}


#gstreet > ul > li{
height: 25vh;
flex-grow: 1;
}
#gstreet > ul > li > img{
max-height: 100%;
min-width: 100%;
object-fit: cover;


}

#gstreet > ul > li > img:hover{
filter: grayscale(3);
transform: scale(2.00);
box-shadow: (10px 50px);
transition: 0.8s;

}


/*Street gallery*/
#Tourism {
    padding: 20px  80px ;
}

#gtour{
padding: 20px 80px  ;
}

#gtour > ul{
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 12px;
}


#gtour > ul > li{
height: 25vh;
flex-grow: 1;
}
#gtour > ul > li > img{
max-height: 100%;
min-width: 100%;
object-fit: cover;


}

#gtour > ul > li > img:hover{
transform: scale(2.00);
box-shadow: (10px 50px);
transition: 0.9s;


}

/*About.HTML*/


body{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin: 40px;
color: darkred;


} 
h1{
font-size: 40px;
font-weight: 900;
}
.top{
display: flex;
justify-content: space-between;
margin-top: 20px;
gap: 20px;
flex-wrap: wrap;
}
.info{
  font-size: 30px;
 width: 44%;
 line-height: 1.5;

}
.info >p:hover{

color:rgb(74, 87, 61);
transition: 0.7s;

}
.right{
width: 35%;
}
.contact{
margin-bottom: 35px;
}
.imgen{
width: 100%;
height:auto;
margin: 25px 0;


}

.imgen >img{
width: 100%;
height: auto;
border-radius: 13px;
transition: 0.4s ease;


}
.imgen > img:hover{

  transform: scale(0.700 );
  filter: grayscale(1);
  transition: 0.6s;
}
.nom{
text-align: center;
margin: 100px 20px;

}
.nom >h2 {
font-size: 130px;
font-weight: 900;

}

.galeria{
display: flex;
justify-content: center;
gap: 30px;
flex-wrap: wrap;
}
.box > img{
  width: 200px;
  max-width: 250px;
  height: auto;
  border-radius: 6px;


}
.box > img:hover{

filter: opacity(44%);
  transition: 0.8s;

}

.cv-button{

position: fixed;
bottom: 20px;
right: 20px;
background-color: darkred;
color: aliceblue;
border: none;
padding: 8px 12px;
border-radius: 9px;
cursor: pointer;
transition: 0.4s ease;


}
.cv-button:hover{
background-color:rgb(74, 87, 61) ;
  transform: scale(0.700 );
transition: 0.7s;
}

















/* TABLET */
@media (max-width:900px){

.menu-container{
gap:20px;
}

.menu-item{
flex:45%;
}

.menu-item img{
height:300px;
}
.right{

 width: 100%; 
}
.nom >h2{

  font-size: 80px;
}


}

/* MÓVIL */
@media (max-width:600px){

.menu-item{
flex:100%;
}
.body{
  margin: 20px;
}
h1{
  font-size: 28px;
}
.info{

  font-size: 18px;
}


.nom{
margin: 50px 10px;


}
.nom > h2{

  font-size: 50px;
}
.galleria{
  gap: 15px;
}
.box > img{
  max-width: 100%;
}
.cv-button{
  padding: 6px 10px;
  font-size: 14px;
}
.menu-item img{
height:250px;
}

}

